* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid blueviolet;
  border-radius: 10px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-list__title {
  text-align: center;
}

.no-posts {
  text-align: center;
}

.line {
  margin: 15px 0;
}
